{% extends 'base_generic.html' %}

{% block title %}Детали занятия{% endblock %}

{% block content %}
<h1 class="my-4">{{ schedule.title }}</h1>
<p><strong>Дата:</strong> {{ schedule.date }}</p>
<p><strong>Время начала:</strong> {{ schedule.start_time }}</p>
<p><strong>Время окончания:</strong> {{ schedule.end_time }}</p>
<p><strong>Место:</strong> {{ schedule.location }}</p>
<p><strong>Преподаватель:</strong> {{ schedule.teacher }}</p>
<p><strong>Описание:</strong> {{ schedule.description }}</p>

<a href="{{ schedule.get_yandex_calendar_url }}" target="_blank" class="btn btn-success">Добавить в Яндекс.Календарь</a>

{% if user.is_authenticated and user.role == 'teacher' %}
    <a href="{% url 'schedule_edit' schedule.pk %}" class="btn btn-primary">Редактировать</a>
{% endif %}

<a href="{% url 'schedule_list' %}" class="btn btn-secondary">Вернуться к расписанию</a>


<h2 class="my-4">Календарь</h2>
<iframe src="https://calendar.yandex.ru/embed/day?date={{ schedule.date }}"
        style="width: 100%; height: 600px; border: 0;"
        frameborder="0"
        scrolling="no">
</iframe>

{% endblock %}
